--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.1+cu121
torchvision==0.18.1+cu121

# huggingface
transformers>=4.41.1
datasets
accelerate
peft

appdirs
loralib
scipy
py7zr  # 圧縮解凍library
bitsandbytes

# formatter & linter
black
flake8

# tokenizer
sentencepiece

# logging
wandb

# megatron-lm
nltk
pybind11

# vision and langugae
pillow
